

@mixin _flex{
  display: flex;
  flex-direction: column;
}
.wrapper {
  @include _flex;
  justify-content: flex-start;
  /* for testing */
  height: 640px;
  overflow: hidden;
  max-width: 32rem;
}

.top, .bottom {
  @include _flex
}
.title {
  background: #666;
  color: #fff;
  justify-content: space-around;
}
.columnContent {
  overflow: auto;
}
.top_element {
  order: 1;
}
.bottom_element {
  order: 2;
}

// close, open, middle

.close {
  flex: 1 0 10%;
}
.middle {
  flex: 1 0 50%;
}
.open {
  flex: 1 0 90%;
}
