@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";


.Banner {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  background: $color-primary;
  &--primary {
    background: $color-primary;
  }
  &--accent {
    background: $color-accent;
  }
}

.cardMedia {
  & .content {
    overflow: visible;
    & > div:first-child {
      position: relative;
      z-index: 5;
    }
  }
}
