@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
@import "../config";
@import "../mixins";

.navDrawer.navDrawerPlus {
  $navigation-drawer-width: $unit * 7;
  .appBar {
    height: 4rem;
    @include panel-bar();
  }
  .drawerContent {
    justify-content: flex-start;
  }

  &.preview.pinned, &:not(.active) {
    .drawerContent {
      width: $navigation-drawer-width;
      max-width: $navigation-drawer-width;
    }
    .appBar {
      height: 4rem;
      display: none;
    }
    // Larger than mobile width drawer
    @media screen and (min-width: $layout-breakpoint-xs) {
      .drawerContent {
        width: $navigation-drawer-width;
        max-width: $navigation-drawer-width;
      }

      &.wide {
        .drawerContent {
          width: $navigation-drawer-width;
          max-width: $navigation-drawer-width;
        }
      }
    }
  }
  &.preview.pinned {
    width: $navigation-drawer-width;
  }
}

/*  AsideWrapper  */

@mixin _flex{
  display: flex;
  flex-direction: column;
}
.wrapper {
  @include _flex;
  justify-content: flex-start;
  /* for testing */
  height: 100%;
}

.top_element, .bottom_element {
  @include _flex
}

.columnContent {
  overflow: hidden;
  height: 100%;
  @include flex_end;
}
.top_element {
  order: 1;
  & > .columnContent {
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
.bottom_element {
  order: 2;
  justify-content: space-between;
}

.preview {
  & .top_element {
    &.close {
      flex-basis: inherit;
    }
  }
}

// close, open, middle

.close {
  flex-basis: 4rem;
}
.middle {
  flex: 1 0 50%;
}
.open {
  flex: 1;
}
