@import "./config";
@import "../mixins";
@import "../config";
@import "~react-toolbox/lib/mixins";
@import "~react-toolbox/lib/layout/config";
@import "~react-toolbox/lib/button/mixins";
@import "~react-toolbox/lib/button/config";


@mixin custom {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.sidebar.sidebarPlus {
  .appBar {
    @include panel-bar();
    height: 4rem;
    & .appBarHeader {
      @include custom();
      justify-content: space-between;
      color: inherit;
      width: 100%;

      & > button {
        //color: inherit;
      }
    }
    & .title {
      @include custom();
      & > [data-react-toolbox="font-icon"] {
        font-size: 20px;
        margin-left: .8rem;
      }
    }
  }
  height: auto;
  @include shadow-2dp();
  .sidebarContent {
    border-left: 1px solid $drawer-border-color;
    justify-content: flex-start;
  }
}
