@import "./config";
@import "../mixins";
@import "../config";
@import "~react-toolbox/lib/mixins";
@import "~react-toolbox/lib/layout/config";
@import "~react-toolbox/lib/button/mixins";
@import "~react-toolbox/lib/button/config";

.sidebar.sidebarPlus {
  .appBar {
    @include panel-bar();
  }
  height: auto;
  @include shadow-2dp();
  .sidebarContent {
    border-left: 1px solid $drawer-border-color;
    justify-content: flex-start;
  }
}