

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  & .content {
    position: absolute;
    z-index: 6;
    color: white;
  }
  & .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  & .activeIcon {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
  }

}