@import "~react-toolbox/lib/_globals.scss";
@import "~react-toolbox/lib/list/_config.scss";
@import "config";

.messageitem {
  .item {
    align-items: flex-end;
  }
  .itemContentRoot {
    padding: 5px 5px 18px 5px;
    border-radius: 4px;
    position: relative;
    height: auto;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
    }
  }
  &:not(.me) {
    .itemContentRoot {
      background-color: $message_bg;
      &:after {
        border: 5px solid $message_bg;
        border-top-color: transparent;
        border-left-color: transparent;
        left: -6px;
      }
    }
  }
  &.me {
    .itemContentRoot {

      background-color: $my_message_bg;
      &:after {
        border: 5px solid $my_message_bg;
        border-top-color: transparent;
        border-right-color: transparent;
        right: -6px;
      }
    }
  }

  .itemText {
    &:not(.primary) {
      padding: 5px 0;
      font-size: $font-size-normal;
      color: $message_text;
      word-break: break-all;
    }

    &.primary {
      font-size: $font-size-small;
      color: $name_color;
    }
  }
}

.message {
  position: relative;
  padding: 0 0 5px 0;
}

.time {
  color: $message_time;
  font-size: $font-size-tiny;
  position: absolute;
  max-width: 100%;
  bottom: 10px;
  right: 25px;
}
