
.wrapper {
  overflow: visible;
  padding: 0 2rem 0 1rem;
  position: relative;
  flex: 1; // insure that it will get all available width
}

.customButton {
  position: absolute;
  display: flex;
  height: 100%;
  min-width: 1rem;
  font-size: 20px;
  max-width: 2rem;
  transform: translateY(-100%);
  & > span {
    margin: 0;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
    padding-right: 1rem;
  }
}

.scrollContainer {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 2rem 0;
  margin: 0;
}
.scrollItem {
  padding: 0 1rem;
  align-self: center;
}
