
.wrapper {
  overflow: hidden;
  padding: 0 12px;
  position: relative;
}
.container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: -100%;
}
.item {
  flex : 1 0 100%;
  padding: 1rem;
}
.control {
  position: absolute;
  top: 50%;
  font-size: 24px;
  margin-top: -12px;
}
.prevControl{
  left: -6px;
}
.nextControl{
  right: -6px;
}
// Media
@media only screen and (min-width: 450px) and (max-width: 639px){
  .item {
    flex-basis: 50%;
  }
  .container {
    left: -50%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 768px){
  .item {
    flex-basis: 33%;
  }
  .container {
    left: -33%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1280px){
  .item {
    flex-basis: 20%;
  }
  .container {
    left: -20%;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1600px){
  .item {
    flex-basis: 12.5%;
  }
  .container {
    left: -12.9%;
  }
}
@media only screen and (min-width: 1601px) {
  .item {
    flex-basis: 8.33%;
  }
  .container {
    left: -8.33%;
  }
}
