
$default-REM: 1.8rem;

.fixedBottomSheet {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #555;
  color: #fff;

  &--expandButton {
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: none;
  }

  &--header {
    padding: $default-REM/4 0;
  }
}
