@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/button/mixins";
@import "config";
.cardTitle {
  background: $color-primary;
  color : $color-white;
  position: relative;

  &--buttonsWrapper {
    position: absolute;
    top: 0;
    right: 0;
  }
  &--button {

  }
}
