@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
.avatar {
  position: relative;
    & > img {
    height: 100%;
  }
}
.errorMessage {
  position: absolute;
  color: $palette-red-500;
}

