@import "~react-toolbox/lib/_colors.scss";
$default-REM: 1.8rem;

.streamPanel {

  &--scrollContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  &--scrollItem {
    flex: 0 0 auto;
    width: auto;
    max-width: 180px;
    min-width: 180px;
    height: auto;
    box-sizing: border-box;
    padding: 0 $default-REM / 2;
  }

  &--noPadding {
    padding: 0;
  }
  &--offsetRight {
    margin-right: $default-REM*3;
  }
  &--newHardware {
    padding: $default-REM / 2;
    font-size: inherit;
    line-height: inherit;
  }
}
// THEME
.cardTitle {
  &.small{
    padding: 0;
  }
}
.cardTitle, .cardText {
  padding: 0;
  &:last-child {
    padding-bottom: 0;
  }
  + .cardText {
    padding-top: 0;
  }
}

.card {
  &--transparent {
    background: transparent;
    border: 2px solid $color-white;
  }
}
.bottomsheet {
  &:not(.active) {
    transform: translateY(75%);
  }
  &.active {
    transform: translateY(0%);
  }
}