@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.styledavatar.avatar {
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  [data-react-toolbox="font-icon"]{
    width: 100%;
  }
  &.accent {
    background-color: $color-accent;
  }
  &.primary {
    background-color: $color-primary;
  }
}