@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.styledavatar.avatar {
  [data-react-toolbox="font-icon"]{
    width: 100%;
  }
  &.accent {
    background-color: $color-accent;
  }
  &.primary {
    background-color: $color-primary;
  }
}