@import "../config";

.cardMedia {
  .content {
    padding: 10px;
    align-items: center;
  }

  .cardTitle {
    &--buttonsWrapper {
      right: $video-panel-btns-right;
      top: $video-panel-btns-top;

      &.video_btns {
        [data-react-toolbox="button"] {
          background-color: $video-panel-btns-bg;
        }
      }
    }
  }
}

