@import '~react-toolbox/lib/colors';
@import '~react-toolbox/lib/globals';
@import '~react-toolbox/lib/input/config';
@import '~react-toolbox/lib/dropdown/theme';
@import 'config';

.styled_input.white {
  & > .inputElement {
    color: white;
    border-bottom-style: dashed;
    border-bottom-color: $input-white-text-bottom-border-color;
  }
  &.disabled > .inputElement {
    color: transparentize(white, 0.1);
    border-bottom: none;
  }
}

.styled_input.large > .inputElement {
  font-size: $input-large-font-size;
}

.styled_input.disabled > .inputElement {
  border: none;
  color: $color-text;
  &:focus:not([disabled]):not([readonly]), &.filled, &[type="date"], &[type="time"] {
    ~ .label:not(.fixed) {
      bottom: 0;
      font-size: $input-field-font-size;
      top: initial;
    }
  }
}

.dropdown.dropdown_styled {
  &.disabled {
    .value {
      &:after {
        content: none;
      }
      input {
        color: $color-text;
        border-bottom: none;
      }
      label {
        bottom: 0;
        font-size: $input-field-font-size;
        top: initial;
      }
    }
  }
}

