@import '~react-toolbox/lib/colors';
@import '~react-toolbox/lib/globals';
@import 'config';

.white {
  & > .inputElement {
    color: white;
    border-bottom-style: dashed;
    border-bottom-color: $input-text-bottom-border-color;
  }
  &.disabled > .inputElement{
    color: transparentize(white, 0.1);
    border-bottom: none;
  }
}

.large > .inputElement {
  font-size: $input-large-font-size;
}

