//@import "~react-toolbox/lib/colors";
//@import "~react-toolbox/lib/globals";
//@import "~react-toolbox/lib/mixins";
//@import "~react-toolbox/lib/app_bar/config";
//@import "~react-toolbox/lib/button/config";
@import "../../spec/style";

.active {
  display: flex;
  a {
    border-bottom: 5px solid $color-accent;
  }
  &:after {
    background-color: #3adb76;
  }
}