$bottomsheet-color-cancel: $palette-red-500 !default;
$bottomsheet-color-accept: $palette-green-500 !default;
$bottomsheet-color-warning: $palette-lime-a200 !default;
$bottomsheet-background-color: $color-text !default;
$bottomsheet-border-radius: .2 * $unit !default;
$bottomsheet-button-offset: 4.8 * $unit !default;
$bottomsheet-color: $color-white !default;
$bottomsheet-horizontal-offset: 2.4 * $unit !default;
$bottomsheet-vertical-offset: 1.4 * $unit !default;
