@import '~react-toolbox/lib/mixins';
@import "./config";
@import "../bottomsheet/theme";

.bottomsheet_plus {
  @extend .bottomsheet;
  background: lighten($bottomsheet-background-color, 10%);
  right: 0;
  left: 0;
  flex-direction: column;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  [data-react-toolbox="font-icon"] {
    color: $color-white;
  }
  &.accept .button {
    color: $bottomsheet-color-accept;
  }
  &.warning .button {
    color: $bottomsheet-color-warning;
  }
  &.cancel .button {
    color: $bottomsheet-color-cancel;
  }
  &:not(.active) {
    transform: translateY(0%);
  }

  &__item {
    display: flex;
    flex: 1 auto;
    width: 100%;
    transition: max-height $animation-duration $animation-curve-default $animation-duration;
    font-size: $bottomsheet-font-size;
    &:not(.active) {
      max-height: 0;
    }
    &.active {
      max-height: 500px;
    }
  }
  &__children {
    width: 100%;
    & [data-react-toolbox="flexlist"] {
      padding: 0;
    }
  }
  &__header {
    @include shadow-2dp;
    width: 100%;
    background: $bottomsheet-background-color;
    [class *= 'cardTitle'] {
      padding: 0;
    }
    & [data-react-toolbox="flexlist"] {
      padding: 0;
    }

  }
}

