@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.avatar {
  position: relative;
  cursor: pointer;
  &--icon {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8em;
    color: $color-white;
  }
  &.overlay {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 11;
      background: rgba($color-black, .5);
      border-radius: 50%;
    }
  }
  & > img {
    height: 100%;
  }
}

.image {
  position: absolute;
  z-index: 10;
}