.card {
  width: 380px;
  color: #ee2737;

  .input {
    margin-left: 0 !important;
    span {
      right: 0;
      margin-left: auto;
    }
  }

  .enter-email-message {
    display: none;
    color: rgba(0, 0, 0, 0.26);
    font-size: 1.6rem;
  }

  .icon {
    color: #4e4e4e;
    cursor: pointer;
  }

  .field {
    margin: 3rem 0 4rem 0;
    div {
      background: #ee2737 !important;
      border-color: #ee2737 !important;
    }
    span {
      font-size: 1.6rem;
    }
  }
}