@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
@import "../mixins";

.dialogLayout {
  width: 70vw;
  .body {
    padding: 0;
  }
  .title {
    padding: 2.4 * $unit;
  }

  &.primary {
    .title {
      @include primary-bg;
    }
  }
  .navigation{
    border-top: 1px solid $color-divider;
  }
}