@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
@import "../config";

$active: $color-accent !default;
$default-color: $palette-grey-600 !default;
$border-radius: #{12%}/#{50%} !default;
$border-radius-active: #{18%}/#{50%} !default;
$icon-switcher-width: 122px !default;
$icon-switcher-height: 30px !default;