@import "~react-toolbox/lib/_colors.scss";

%item-float {
  float: left;
  height: 100%;
  min-height: 1px;
}

.slider {

  &-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
  }
  &-borderLeft {
    border-left: 3px solid $color-white;
  }
  &-innerContainer {
    display: flex;
    justify-content: flex-start;

  }

  &-item {
    @extend %item-float;
  }

  &-prev {
    position: absolute;
    top: 25%;
    left : -6px;
    color: $color-white;
    cursor: pointer;

  }
  &-next {
    position: absolute;
    top: 25%;
    right: -6px;
    color: $color-white;
    cursor: pointer;
  }

}