
%item-float {
  float: left;
  height: 100%;
  min-height: 1px;
}

.slider {

  &-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
    //margin-left: -0.9375rem;
    //margin-right: -0.9375rem;
    box-sizing: border-box;
  }
  &-borderLeft {
    border-left: 3px solid white;
  }
  &-innerContainer {
    //margin-left: -0.9375rem;
    //margin-right: -0.9375rem;
    //position: absolute;
    //clear: both;
    display: flex;
    justify-content: space-between;

  }

  &-item {
    @extend %item-float;
  }

  //&-controls {
  //  position: absolute;
  //  top: 50%;
  //}
  &-prev {
    position: absolute;
    top: 25%;
    left : -6px;
    color: white;
    cursor: pointer;

  }
  &-next {
    position: absolute;
    top: 25%;
    right: -6px;
    color: white;
    cursor: pointer;
  }

}