@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
$flexlist-vertical-padding: .8 * $unit !default;
$flexlist-horizontal-padding: 1.6 * $unit !default;
$flexlist-content-left-spacing: 7.2 * $unit !default;
$flexlist-subheader-height: 4.8 * $unit !default;
$flexlist-subheader-font-size: 1.4 * $unit !default;
$flexlist-subheader-font-weight: 500 !default;
$flexlist-divider-height: .1 * $unit !default;
$flexlist-item-min-height: 4.8 * $unit !default;
$flexlist-item-min-height-legend: 7.2 * $unit !default;
$flexlist-item-hover-color: $palette-grey-200 !default;
$flexlist-item-legend-margin-top: .3 * $unit !default;
$flexlist-item-icon-font-size: 2.4 * $unit !default;
$flexlist-item-icon-size: 1.8 * $unit !default;
$flexlist-item-right-icon-margin: $flexlist-content-left-spacing - 2 * $flexlist-horizontal-padding - $flexlist-item-icon-size !default;
$flexlist-item-right-checkbox-margin: $flexlist-item-right-icon-margin + $flexlist-horizontal-padding !default;
$flexlist-item-avatar-height: 4 * $unit !default;
$flexlist-item-avatar-margin: .8 * $unit !default;
$flexlist-item-child-margin: .8 * $unit !default;
$flex-list-font-size: $unit * 1.4 !default;
$flex-list-icon-font-size: $unit * 1.2;
$flex-list-item-padding: $unit * 2 $unit $unit;