@import "~react-toolbox/lib/colors";
@import "config";

.flexlist {
  display: flex;
  padding: $flexlist-vertical-padding 0;
  white-space: nowrap;
  list-style: none;
  &.right {
    justify-content: flex-end;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.center {
    justify-content: center;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.auto {
    li:last-child {
      flex: 1 auto;
    }
  }
  &:not(.wrap){
    li{
      overflow: auto;
    }
  }
  &.small {
    &, [data-react-toolbox="font-icon"], [data-react-toolbox="card"], input {
      font-size: $flex-list-icon-font-size;
    }
  }

}

.flexlist_item {
  padding: $flex-list-item-padding;
}

.inverse {
  .itemText {
    &:not(.primary) {
      color: $palette-grey-100;
    }
    &.primary {
      color: $palette-grey-50;
    }
  }
}
