@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.cardTitle{
  position: relative;
}

.iconWrapper{
  display: flex;
  flex-direction: column;
}
.iconClose {
  transform: rotate(90deg);
}