@import "../../node_modules/react-toolbox/lib/colors";
@import "../../node_modules/react-toolbox/lib/globals";
@import "../../node_modules/react-toolbox/lib/button/mixins";
@import "../../node_modules/react-toolbox/lib/button/theme";

.neutral:not([disabled]) {
  &.flat {
    color: inherit;
    background-color: inherit;
    box-shadow: none;
    width: 100%;
  }
}
.button {
  &.flat {
    color: $color-white;
  }
}