@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/layout/config";
@import "../config";
@import "../mixins";

.chatContent {
  height: 100%;
  @include flex_end;
  justify-content: space-between;
  & .content {
    height: 100%;
    overflow: auto;
  }
  & [data-react-toolbox="inputgroup"] {
    background-color: $input-group-bg;
    display: block;
    & [data-react-toolbox="input"], & [data-react-toolbox="button"]{
      float: left;
    }
    & [data-react-toolbox="input"] {
      width: 90%;
    }
    & > [data-react-toolbox="button"] {
      width: 10%;
    }
    input, textarea {
      padding: $card-inputgroup-padding;
      font-size: $card-inputgroup-font-size;
    }
  }
}
